<section>
  <div class='row justify-content-center'>
    <div>
      <div class="d-flex align-items-center justify-content-center pb-3">
        <img src="/img/profile/{{user.profile_img_url}}" alt="profileImg" width="140" height="140" class="bd-placeholder-img rounded-circle" />
      </div>
      <form>
        <div class='row'>

          {{! -------------------------------------- FIRST NAME -------------------------------------- }}
          <div class='col-sm-6 pt-2'>
            <label for='profile_first_name' class='form-label mb-1'>First Name</label>
            <input type='text' class='form-control' id='profile_first_name' placeholder='' value='{{user.first_name}}' disabled/>
          </div>

          {{! -------------------------------------- LAST NAME -------------------------------------- }}
          <div class='col-sm-6 pt-2'>
            <label for='profile_last_name' class='form-label mb-1'>Last Name</label>
            <input type='text' class='form-control' id='profile_last_name' placeholder='' value='{{user.last_name}}' disabled/>
          </div>

          {{! -------------------------------------- PROFILE DESCRIPTION -------------------------------------- }}


            <div class='col-md-4 pt-2'>
              <label for='product_country' class='form-label mb-1'>Country</label>
              <input type='text' class='form-control' id='product_country' placeholder='' value='{{user.country}}' disabled />
            </div>

            <div class='col-md-4 pt-2'>
              <label for='product_state' class='form-label mb-1'>State</label>
              <input type='text' class='form-control' id='product_state' placeholder='' value='{{user.state}}' disabled />
            </div>

            <div class='col-md-4 pt-2'>
              <label for='product_city' class='form-label mb-1'>City</label>
              <input type='text' class='form-control' id='product_city' placeholder='' value='{{user.city}}' disabled />
            </div>

          </div>

          {{! -------------------------------------- PROFILE IMAGE UPLOADER -------------------------------------- }}

          <div class='pt-2'>
            <label for='profile_img_url' class='form-label' >Profile Image</label>
            <input class='form-control form-profile-image' type='file' id='profile_img_url' name="profile_img_url"/>
          </div>

        </div>

        <hr class='my-4' />

        <div class='productCreateCheck'></div>

        {{! -------------------------------------- UPDATE BUTTON -------------------------------------- }}

        <button id='save-profile-button' class='w-100 btn btn-primary btn-lg fs-6' type='submit'>Save Profile</button>

      </form>
    </div>
  </div>
</section>